@font-face {
  font-family: "Barcode";
  src: url("../css/fonts/barcode.woff2") format("woff2"),
    url("../css/fonts/barcode.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* custom properties */

:root {
  --ff-Barcode: "Barcode";
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fffcf2;
  --clr-dark: #252422;
  --clr-dark-secondary: #403d39;
  --clr-accent: #eb5e28;

  --fs-h1: 3rem;
  --fs-h2: 2.24rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark-secondary);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */

.btn {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #000;
  background-color: var(--clr-accent);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  transition: transform 200ms ease-in-out;
  box-shadow: var(--bs);
}

.btn:hover {
  transform: scale(1.1);
  background-color: var(--clr-dark-secondary);
  color: #fff;
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__subtitle {
  margin: 0;
}
.section__subtitle--intro {
  font-weight: var(--fw-reg);
  font-family: var(--ff-Barcode);
}

.section__subtitle--intro,
.section__subtitle--about {
  padding: 0;
  margin-bottom: 1em;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 90px;
  opacity: 0.8;
}
.hidden {
  visibility: hidden;
}
.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

header a {
  color: var(--clr-dark-secondary);
}

header a:hover {
  color: var(--clr-accent);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 3em;
  z-index: 1000;
  color: var(--clr-accent);
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/* Intro Section */

.intro {
  position: relative;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: -2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    margin-bottom: 0;
    left: -0.25em;
    width: calc(100% + 1.5em);
  }
}

/* My Services Section */

.my-services {
  background-color: var(--clr-dark);
  background-image: url(../images/quantum-gradient.svg);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  font-weight: var(--fw-reg);
  color: var(--clr-light);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 3px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.section__subtitle--work {
  margin-top: 2em;
}

.services {
  margin-bottom: 4em;
}
.service {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .service + .service {
    margin-left: 2em;
  }
}

/* about me */

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
    font-size: var(--fs-h2);
  }

  .section__subtitle--about {
    font-size: var(--fs-h3);
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

.my-work {
  text-align: center;
}

.portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 5px;
}

.portfolio > * {
  flex: 1 1 20em;
  margin: 10px;
}

@media (min-width: 800px) {
  .card-title {
    font-size: 2.24rem;
  }
}

.card {
  color: #fff;
  background-size: cover;
  padding: 10rem 0 0;
  border-radius: 0.5rem;
  overflow: hidden;

  transition: transform 500ms ease;
}

.SoundSource {
  background-image: url(../images/SSPortLogo.svg);
}

.ComingSoon {
  background-image: url(../images/ComingSoon.svg);
}

.ComingSoon .card-button {
  visibility: hidden;
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  text-align: left;
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0% / 0.3) 10%,
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -2px;
  width: calc(100% + var(--padding));
  background: var(--clr-accent);

  transform-origin: left;

  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scaleX(1);
}

.card-body {
  color: rgb(255 255 255 /0.85);
  text-align: left;
}

@media (hover) {
  .card-content {
    transform: translateY(65%);
    transition: transform 500ms ease;
  }
  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 500ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

.card-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  color: #000;
  background-color: var(--clr-accent);
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
}

.card-button:hover,
.card-button:focus {
  background-color: var(--clr-dark-secondary);
  color: #fff;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

/* footer */

.footer {
  background: #111;
  color: var(--clr-light);
  text-align: center;
  padding: 1.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: 1.25rem;
  font-weight: var(--fw-reg);
}

.footer__link:hover,
.social-list__item:hover {
  color: var(--clr-accent);
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
  padding: 0;
  align-items: center;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

/* individual portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
c_buttons {
  overflow: hidden;
  margin: 1rem;
  text-align: center;
}

.gif-content {
  display: flex;
}

.play-on-hover {
  width: auto;
  height: 20em;
  background-image: url(../images/new.jpg);
  background-size: cover;
  box-shadow: var(--bs);
}

.play-on-hover:hover {
  background-image: url(../images/gifs/SSUpdated.gif);
}

.portfolio__buttons {
  text-align: center;
}

.portfolio__buttons .btn {
  margin: 1rem;
  text-align: center;
}

.multicolor {
  background-image: linear-gradient(
    to left,
    #2584ff,
    #1b0760,
    #cb88ff,
    #00c4cc,
    #e43397
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.skills__list {
  list-style: none;
  padding: 1;
  text-align: center;
  margin-left: -40px;
}

.fa-check {
  color: var(--clr-accent);
  padding-right: 0.5rem;
}
